body {
  margin: 20px;
}
.menu {
  font-family: tokyo;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 200px;
  /* position: absolute; */
  position: relative;
  color: yellow;
  background: magenta;
}

.selected {
  color: magenta;
  background: yellow;
}

.frame {
  z-index: 1;
  height: 100px;
  width: 100px;
  top: 100px;
  left: 40px;
  background: cyan;
  position: relative;
}
